
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!-- FontAwesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8">
    <title>Peanut</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li class="right"> {{ Username }} </li>
        <li><a href="/signout">Logout</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="sidebar">
        <h2>AI Writer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed urna eu risus porta congue in vel quam. Donec mollis ligula nisi, sit amet ullamcorper erat laoreet eget. </p>
      </div>
      <div class="chat-container">
        <div class="input-box">
          <input type="text" placeholder="Type your message here">
          <button>Send</button>
        </div>
        <div class="message-box">
          <div class="message-received">Hello!</div>
          <div class="message-sent">Hi! How can I help you today?</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="options">
        <!-- Text Format -->
        <button id="bold" class="option-button format">
          <i class="fa-solid fa-bold"></i>
        </button>
        <button id="italic" class="option-button format">
          <i class="fa-solid fa-italic"></i>
        </button>
        <button id="underline" class="option-button format">
          <i class="fa-solid fa-underline"></i>
        </button>
        <button id="strikethrough" class="option-button format">
          <i class="fa-solid fa-strikethrough"></i>
        </button>
        <button id="superscript" class="option-button script">
          <i class="fa-solid fa-superscript"></i>
        </button>
        <button id="subscript" class="option-button script">
          <i class="fa-solid fa-subscript"></i>
        </button>

        <!-- List -->
        <button id="insertOrderedList" class="option-button">
          <div class="fa-solid fa-list-ol"></div>
        </button>
        <button id="insertUnorderedList" class="option-button">
          <i class="fa-solid fa-list"></i>
        </button>

        <!-- Undo/Redo -->
        <button id="undo" class="option-button">
          <i class="fa-solid fa-rotate-left"></i>
        </button>
        <button id="redo" class="option-button">
          <i class="fa-solid fa-rotate-right"></i>
        </button>

        <!-- Link -->
        <button id="createLink" class="adv-option-button">
          <i class="fa fa-link"></i>
        </button>
        <button id="unlink" class="option-button">
          <i class="fa fa-unlink"></i>
        </button>

        <!-- Alignment -->
        <button id="justifyLeft" class="option-button align">
          <i class="fa-solid fa-align-left"></i>
        </button>
        <button id="justifyCenter" class="option-button align">
          <i class="fa-solid fa-align-center"></i>
        </button>
        <button id="justifyRight" class="option-button align">
          <i class="fa-solid fa-align-right"></i>
        </button>
        <button id="justifyFull" class="option-button align">
          <i class="fa-solid fa-align-justify"></i>
        </button>
        <button id="indent" class="option-button spacing">
          <i class="fa-solid fa-indent"></i>
        </button>
        <button id="outdent" class="option-button spacing">
          <i class="fa-solid fa-outdent"></i>
        </button>

        <!-- Headings -->
        <select id="formatBlock" class="adv-option-button">
          <option value="H1">H1</option>
          <option value="H2">H2</option>
          <option value="H3">H3</option>
          <option value="H4">H4</option>
          <option value="H5">H5</option>
          <option value="H6">H6</option>
        </select>

        <!-- Font -->
        <select id="fontName" class="adv-option-button"></select>
        <select id="fontSize" class="adv-option-button"></select>

        <!-- Color -->
        <div class="input-wrapper">
          <input type="color" id="foreColor" class="adv-option-button" />
          <label for="foreColor">Font Color</label>
        </div>
        <div class="input-wrapper">
          <input type="color" id="backColor" class="adv-option-button" />
          <label for="backColor">Highlight Color</label>
        </div>
      </div>
      <div id="text-input" contenteditable="true"></div>
    </div>


    <script src="{% static 'js/script.js' %}" async defer></script>

  </body>
</html>










<ul class="box-info">
  <li>
    <i class='bx bxs-calendar-check' ></i>
    <span class="text">
      <h3>Chat with Peanut</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </span>
  </li>
  <li>
    <i class='bx bxs-group' ></i>
    <span class="text">
      <h3>Chat with Peanut</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </span>
  </li>
  <li>
    <i class='bx bxs-dollar-circle' ></i>
    <span class="text">
      <h3>Chat with Peanut</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </span>
  </li>
</ul>






<div id="app">
  <h1> ChatNGet</h1>
  <h4> Powered by OpenAI</h4>
   
  <div id="chat_container"></div>
  <form class="form1">
    <textarea name="prompt" rows="1" placeholder="Ask Anything..."></textarea>
    <button type="submit1"> <img src="assets/send.svg" alt=""> </button>
  </form>
  </div>