{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Chatnget</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">


	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	

	

	




	<div class="subscription-container">

		<div class="subscription-box monthly">
			<div class="title">
			  <h2>3 Days </h2>
			  <p>Free Trail</p>
			</div>
			<ul class="features">
			  <li>200 words/month</li>
			  <li>5 Image generate</li>
			</ul>
			<a href="dashboard/" class="subscribe-button">Free trial</a>
		  </div>

		<div class="subscription-box monthly">
		  <div class="title">
			<h2>Monthly</h2>
			<p>$20/month</p>
		  </div>
		  <ul class="features">
			<li>2000 words/month</li>
			<li>20 Image generate</li>
		  </ul>
		  <a href="#" class="subscribe-button">Subscribe</a>
		</div>
	  
		<div class="subscription-box yearly">
		  <div class="title">
			<h2>Yearly</h2>
			<p>$150/year ( Save 50% ) </p>
		  </div>
		  <ul class="features">
			<li>Unlimited words/Yearly</li>
			<li>Image generation</li>
			
		  </ul>
		  <a href="#" class="subscribe-button">Subscribe</a>
		</div>
	  </div>
	  

   
      




	  





	

	<script src="script.js"></script>
</body>
</html>